.header {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.679),
    transparent
  );
  z-index: 10;
  width: 100%;
  opacity: 0.9;
}

.header-content {
  height: 10vh;
  line-height: 10vh;
}

.header-icon {
  border: 2px solid #fff;
  border-radius: 50%;
  height: 40px;
  padding: 10px;
  text-align: center;
  width: 40px;
}
