* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background: #141414;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: white;
}

.wrapper {
  padding: 0 64px;
}
@media screen and (max-width: 640px) {
  .wrapper {
    padding: 0 32px;
  }
}
.arrow {
  background: none;
  width: 40px;
  height: 40px;
}

.arrow.prew {
  z-index: 5;
}
.movie-card {
  max-width: 450px;
  height: 450px;
  transition: 0.5s all;
}
.movie-card:hover {
  cursor: pointer;
  transform: scale3d(1.05, 1.05, 1);
}
.movie-icon {
  display: none;
}
.movie-card:hover > .movie-icon {
  display: block;
}
